
    <li class="user-info well">
        <%= image_tag("blankpic.png", :style => "margin-right: 10px; float: left; width: 50px;") %>
        <div> 
          <%= link_to @your_buddy.full_name, '' %>
        </div>
    </li>
