
<div id="buddies-already"  style="display:none; margin-top:10px;">
  <h3>Your buddies</h3>
  <ul id="buddies-already-list" class="user-list">
  </ul>
</div>

<div id="buddies-requests" style="clear:both; display:none; margin-top:10px;">
  <h3>Buddy requests</h3>
  <ul id="buddies-requests-list" class="user-list">
  </ul>
</div>

<% if @buddy_requests.any? %>
  <div id="buddies-requests" style="clear: both; margin-top: 10px;">
    <h3>Buddy requests</h3>
    <ul id="buddies-requests-list" class="user-list">
      <% @buddy_requests.each do |buddy_request| %>
        <% @buddy_request = buddy_request %>
        <%= render "buddy_request", object: @buddy_request %>
      <% end %>
    </ul>
  </div>
<% end %>

<div style="clear:both"></div>

<h3 id="buddies-invite-header" style="display:none; margin-top:10px;">Invite more</h3>

<div id="buddies-invite-section">

  <div id="buddies-facebookfriends-already" style="display:none">
    <p>We found <span id="buddies-facebookfriends-already-num"></span>
    of your Facebook friends are already using our service.
    If you want, click "Invite" and we'll send them an invite
    to be your buddy here.</p>
    <ul id="buddies-facebookfriends-already-list" class="user-list">
    </ul>
  </div>

  <div style="clear:both"></div>

  <div id="buddies-facebooksend-section" style="display:none; margin-bottom: 20px;">
    <p>You can send a message to your friends on Facebook<span id="buddies-facebooksend-yet" style="display:none"> that aren't using our service yet</span>.</p>
    <button class="btn" type="button" id="buddies-facebooksend-button">Invite Friends</button>
  </div>

  <div id="buddies-facebookwall-section" style="display:none; margin-bottom: 20px;">
    <p>Or you can post a link on your Facebook wall, if you're not sure which of your friends want to join.</p>
    <button class="btn" type="button" id="buddies-facebookwall-button">Post on your Wall</button>
  </div>

  <div id="buddies-email-section">
    <p><span id="buddies-email-also" style="display:none">You can also invite buddies by email.</span>
       Just enter comma separated email addresses in the box below and click the button.
    </p>

    <%= form_tag buddies_path, :method => 'post' do %>
      <p> 
        <%= text_area_tag :email_addresses, nil, rows:1, class: 'span12', id: 'buddies-buddies-input', style: 'margin-bottom:10px;' %> 
        <%= submit_tag "Send Email Invites", :name => nil %>
      </p>
    <% end %>

    <!--<form id="buddies-email-form">
      <textarea name="email_addresses" id="buddies-email-input" rows="1" class="span12" style="margin-bottom:10px;"></textarea>
      <br>
      <button type="button" id="buddies-email-button" class="btn" disabled>Send Email Invites</button>
      <img id="form-save-indicator" src="/img/loading_trans_16x16.gif" style="display:none">
      <ul id="buddies-email-results" style="margin-top: 6px; list-style-type: none; margin-left: 0px;">
      </ul>
    </form>-->
  </div>

</div>
