<div id="buddies-requests" style="clear: both; margin-top: 10px;">
  <h3>Buddy requests</h3>
  <ul id="buddies-requests-list" class="user-list">
  
 <li class="user-info well">
  <img class="user-img" src="http://www.gravatar.com/avatar/b96635f98f5709967882af64ac9f742e?s=100&amp;d=http%3A%2F%2Fwww.eatdifferent.com%2Fimg%2Fblankpic.png">
  <div>
    <a href="/user/6228269514883072">Rob Cheney</a>
    <br>
    <form>
     <input type="hidden" name="id" value="4950774442360832">
     <button type="submit" class="btn confirm-request-button" data-id="4950774442360832" data-startmsg="Confirm" data-loadingmsg="Confirming..." data-successmsg="Confirmed!">Confirm</button>
    </form>
  </div>
 </li>
</ul>
</div>
